.navbar-custom{
    background-color:transparent;
}

h2{
    background-color: black;
    color:white;
    font-family:'cabin';
    font-size: larger;
    font-weight: 600;
    text-align: center;
}
.somos{
    background-color: black;
}

p{
    color:white
}

.col-md-4{
    display:block
}

svg{
    width: 20px;
    height: 20px;
        fill:white;
}

.btn{
    width: 250px;
    height: 30px;
    background-color: aqua;
    color:white;
}